# Configurando a carteira:

In [2]:
! pip install --quiet -r requirements.txt

ERROR: Could not open requirements file: [Errno 2] No such file or directory: 'requirements.txt'

In [3]:
import yfinance as yf
import pandas as pd
import numpy as np

In [4]:
compras = {"WEGE3.SA": 1300, "BPAC11.SA": 1100,
           "SMAL11.SA": 800, "AAPL34.SA": 700, "IVVB11.SA": 500,
           "PETR4.SA": 1000, "COCA34.SA": 1000}

In [5]:
list(compras.keys())

['WEGE3.SA',
 'BPAC11.SA',
 'SMAL11.SA',
 'AAPL34.SA',
 'IVVB11.SA',
 'PETR4.SA',
 'COCA34.SA']

In [6]:
sum(compras.values())

6400

In [7]:
inicio = "2020-01-01"

fim = "2020-02-02"

custo = yf.download(list(compras.keys()), start= inicio, end = fim, progress= False)[ "Adj Close"]

# Simulação da carteira

In [8]:
primeiro = custo.iloc[0]

In [10]:
compras_df = pd.Series(data= compras, index= list(compras.keys()))

In [12]:
qtd_acoes = round(compras_df/primeiro, 0)

In [18]:
PL = custo*qtd_acoes

In [19]:
PL["PL Total"] = PL.sum(axis=1)

In [21]:
PL.head()

Ticker,AAPL34.SA,BPAC11.SA,COCA34.SA,IVVB11.SA,PETR4.SA,SMAL11.SA,WEGE3.SA,PL Total
Date,,,,,,,,
2020-01-02,694.117588,1108.034790,1001.701584,562.400024,998.643241,837.000000,1306.964899,6508.862126
2020-01-03,695.490462,1111.250122,988.045692,562.799988,990.510988,845.399963,1290.275070,6483.772286
2020-01-06,698.922715,1109.642700,990.946426,564.799988,1002.221251,834.600037,1293.613398,6494.746514
2020-01-07,700.638797,1114.069458,990.946426,565.200012,998.318100,836.399963,1303.626722,6509.199479
2020-01-08,706.530919,1104.196289,990.455360,566.200012,992.137423,829.199982,1254.300166,6443.020151

In [22]:
PL.tail()

Ticker,AAPL34.SA,BPAC11.SA,COCA34.SA,IVVB11.SA,PETR4.SA,SMAL11.SA,WEGE3.SA,PL Total
Date,,,,,,,,
2020-01-27,738.050550,1105.522583,1071.632423,584.239990,911.790643,842.820007,1519.476448,6773.532645
2020-01-28,765.737259,1108.469849,1065.429153,588.000000,936.837926,855.600037,1558.047201,6878.121425
2020-01-29,781.239725,1111.269897,1065.429153,596.000000,938.464279,848.219971,1572.140202,6912.763227
2020-01-30,780.095491,1088.575684,1065.429153,599.559998,941.392007,833.460022,1519.476448,6827.988803
2020-01-31,762.762915,1094.470459,1065.429153,592.400024,925.452805,821.460022,1461.619188,6723.594566